{% macro draw(box, showLocation, showModel) %}
    <div class="card mb-3">
        <div class="card-header">
            {{ box.displayLabel }}
        </div>
        <div class="card-body">
            <a class="card-link float-end" href="{{ path('app_box', {id: box.id}) }}">Edit</a>
            <p class="card-text">
                {% if box.description is not empty %}
                    {{ box.description[:90] }}{% if box.description | length > 90 %} ...{% endif %}
                    <br />
                {% endif %}
                {% if showLocation %}
                    {% if box.location is not empty %}
                        <em>{{ box.location.displayLabel }}</em>
                    {% else %}
                        <em>Location Unknown</em>
                    {% endif %}
                    <br />
                {% endif %}
                {% if showModel and box.boxModel is not empty %}
                    <em>{{ box.boxModel.label }}</em>
                {% endif %}
            </p>
        </div>
    </div>
{% endmacro %}
