{% macro draw(location) %}
{% set boxCount = location.boxes.count %}
    <div class="card mb-3">
        <div class="card-header">
            {{ location.displayLabel }}
        </div>
        <div class="card-body">
            <p class="card-text">
                {% if location.description is not empty %}
                    {{ location.description[:90] }}{% if location.description | length > 100 %} ...{% endif %}
                    <br />
                {% endif %}
            </p>
            <a class="card-link" href="{{ path('app_location', {id: location.id}) }}">Edit</a>
            <a class="card-link" href="{{ path('app_box_search_location', {id: location.id}) }}">{{ boxCount }} Box{{ boxCount != 1 ? 'es' }}</a>
        </div>
    </div>
{% endmacro %}
