{% extends 'base.html.twig' %}

{% block title %}
    Organizer: {{ box.label }}
{% endblock %}

{% block body %}
<div class="container main-window">
    <div class="row mb-3 text-center">
        <div class="col">
            {% if box.id is not null %}
                <h4>{{ box.displayLabel }}</h4>
            {% else %}
                <h4>New Box</h4>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 text-left">
        <div class="col">
            <a class="btn btn-light" href="{{ path('app_home') }}">&lt; Back</a>
        </div>
    </div>
    {% if box.id is not null %}
        <div class="form-group">
            <label for="id">Box</label>
            <input type="text" class="form-control" disabled id="id" placeholder="Automatically Assigned" value="{{ box.displayId | e('html_attr') }}">
        </div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
