<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% apply spaceless %}{% block title %}Organizer{% endblock %}{% endapply %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/fontawesome/dolly-solid-multicolor.svg') }}" />
        <link rel="apple-touch-icon" type="image/png" href="{{ asset('assets/fontawesome/dolly-solid-multicolor.png') }}" />
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/organizer.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3 sticky-top" data-bs-theme="dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">Organizer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Boxes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_box_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_box_recent') }}">See Recently Changed</a>
                                <a class="dropdown-item" href="{{ path('app_box_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Box Models
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_box_model_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_box_model_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Locations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_location_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_location_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bulk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_export') }}">Export Data</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_about') }}">About</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="{{ path('app_profile') }}">
                                Change Your Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                    <ul class="nav navbar-nav navbar-right me-3">
                        <li class="d-none d-lg-inline">
                            <a href="{{ path('app_profile') }}">
                                <img src="{{ app.user.avatarUrl }}" class="avatar rounded-circle img-responsive" />
                            </a>
                        </li>
                    </ul>
                    <form class="d-lg-flex d-none" role="search" action="{{ path('app_box_search') }}" data-bs-theme="light">
                        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" name="q">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
            </div>
        </nav>
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% block body_full %}
            <div class="container main-window">
                {% block body_search %}
                    {% if app.user %}
                        <div class="row justify-content-center d-lg-none d-flex">
                            <div class="col mb-3">
                                <form class="form-inline" action="{{ path('app_box_search') }}">
                                    <div class="input-group">
                                        <input class="form-control me-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                                        <a class="btn btn-outline-primary ms-4" href="{{ path('app_box_new') }}"><i class="fas fa-plus"></i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9471099de1.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/organizer.js') }}"></script>
    </body>
</html>
