<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% apply spaceless %}{% block title %}Organizer{% endblock %}{% endapply %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/fontawesome/dolly-solid-multicolor.svg') }}" />
        <link rel="apple-touch-icon" type="image/png" href="{{ asset('assets/fontawesome/dolly-solid-multicolor.png') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/organizer.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 sticky-top">
            <a class="navbar-brand" href="{{ path('app_home') }}">Organizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Boxes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_box_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_box_recent') }}">See Recently Changed</a>
                                <a class="dropdown-item" href="{{ path('app_box_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Box Models
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_box_model_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_box_model_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Locations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_location_all') }}">See All</a>
                                <a class="dropdown-item" href="{{ path('app_location_new') }}">Add New</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bulk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_export') }}">Export Data</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_about') }}">About</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="{{ path('app_profile') }}">
                                Change Your Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                    <ul class="nav navbar-nav navbar-right mr-3">
                        <li class="d-none d-lg-inline">
                            <a href="{{ path('app_profile') }}">
                                <img src="{{ app.user.avatarUrl }}" class="avatar rounded-circle img-responsive" />
                            </a>
                        </li>
                    </ul>
                    <div class="d-lg-inline d-none">
                        <form class="form-inline my-2 my-lg-0" action="{{ path('app_box_search') }}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% block body_full %}
            <div class="container main-window">
                {% block body_search %}
                    {% if app.user %}
                        <div class="row justify-content-center d-lg-none d-flex">
                            <div class="col mb-3">
                                <form class="form-inline" action="{{ path('app_box_search') }}">
                                    <div class="input-group">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                                        <a class="btn btn-outline-primary ml-4" href="{{ path('app_box_new') }}"><i class="fas fa-plus"></i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9471099de1.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/organizer.js') }}"></script>
    </body>
</html>
